body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    flex-direction: column;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    height: 3.5rem;
    color: white;
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 500ms;
    color: white;
}

nav a:hover{
    cursor: pointer;
    padding: 1rem;
    border: solid 2px white;
}


nav h1{
    font-weight: bold;
    font-size: 3rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background: white;
    width: 90%;
    border-radius: 20px;
    flex-direction: column;
    margin-bottom: 5rem;
}

main h1{
    padding-top: 2rem;
}

h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color:#5cdff9;
}
h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main p{
    width: 80%;
    text-align: center;
    margin-bottom: 0.5rem;
}

.last{
    margin-bottom: 5rem;
}