html, body, *{
    font-family: 'Playfair', serif;
    color: white;
}   

body{
    background-color: black;
}
h1{
    font-size: 70px;
    text-align: center;
}

p{
    font-size: 30px;
}

#mao{
    margin: 20px;
    height: 600px;  

}

#refri{
    margin: 20px;
    height:450px;
}

#myVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;    
    filter: hue-rotate(230deg);
    opacity:calc(40%);
}

.menu{
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    outline-style: hidden;
    background-color: #8229ff;
    border: none;
    box-shadow: 0px 0px 8px 5px #00f2ff; 
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 60px;
    color: #00f2ff;
    margin-left: 48% ;
}

.menu:hover {
    background-color:  #8229ff;
    box-shadow: 0px 0px 8px 5px #fff700; 
    color: #fff700;
}

span{
    font-size: 25px;
}